.loader {
	position: relative;

	width: 1rem;
	height: 1rem;

	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	mix-blend-mode: difference;

	background: conic-gradient(
		from 180deg at 50% 50%,
		#fff 0deg,
		rgba(255, 255, 255, 0) 360deg
	);
	animation: loading 1s linear 0s normal none infinite running;

	&::after {
		content: '';
		position: absolute;
		width: 0.6rem;
		height: 0.6rem;
		border-radius: 50%;
		background: #000;
	}
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}
