.fieldOfChips {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  flex-wrap: wrap;
  padding: .25rem;
}

.chip {
  background: var(--colorBlack);
  //width: 1.1rem;
  height: 1.1rem;
  max-height: calc(50% - .4rem);
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 0 .5rem .25rem var(--colorBlack);
}