@import 'styles/global/variables';

.button {
	padding: 0.3rem 0.75rem;
	background: $white;
	border-radius: 0.2rem;
	font-family: $sansSerifFont;
	color: $black;
	font-weight: 700;
	letter-spacing: -0.06em;
  transition: $commonTransitionCubic .3s;
	min-width: 10rem;
	&:hover {
		background: $charcoal;
		color: $white;
	}
	&:active {
		transition: $commonTransitionCubic .1s;
		transform: translateY(.2rem);
	}
}
