.button {
	padding: 0.3rem 0.75rem;
	background: var(--colorWhite);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;

	border-radius: 0.2rem;
	border: var(--colorWhite) solid 1px;
	font-family: var(--sansSerifFont);

	color: var(--colorBlack);
	font-weight: 700;
	letter-spacing: -0.06em;
  transition: var(--transition) .3s;
	min-width: 10rem;

	& * {
		transition: var(--transition) .3s;
		color: var(--colorBlack);
		letter-spacing: -0.06em;
		font-weight: 700;
		font-size: inherit;
	}
	&:hover {
		background: var(--colorBlack);
		color: var(--colorWhite);
		border: var(--colorWhite) solid 1px;
		& * {
			color: var(--colorWhite);
		}
	}
	&:active {
		transition: var(--transition) .1s;
		transform: translateY(.2rem);
	}
}

.button[data-buttonType='red'] {
	background: var(--colorRed);
	border: var(--colorWhite) solid 1px;
	color: var(--colorWhite);

	&:hover {
		background: var(--colorWhite);
		color: var(--colorRed);
		border: var(--colorRed) solid 1px;
		& * {
			color: var(--colorRed);
		}
	}
}

.button[data-buttonType='green'] {
	background: var(--colorGreen);
	border: var(--colorWhite) solid 1px;
	color: var(--colorWhite);

	&:hover {
		background: var(--colorWhite);
		color: var(--colorGreen);
		border: var(--colorGreen) solid 1px;
		& * {
			color: var(--colorGreen);
		}
	}
}

.button[data-buttonType='black'] {
	background: var(--colorBlack);
	border: var(--colorWhite) solid 1px;
	color: var(--colorWhite);

	&:hover {
		background: var(--colorWhite);
		color: var(--colorBlack);
		border: var(--colorBlack) solid 1px;
		& * {
			color: var(--colorBlack);
		}
	}
}