.button {
	padding: 0.3rem 0.75rem;
	//background: var(--colorWhite);
	background: var(--colorBlack8);
	color: var(--colorWhite);
	border-radius: 0.2rem;
	border: var(--colorWhite) solid 1px;
	font-family: var(--sansSerifFont);
	//color: var(--colorBlack);
	font-weight: 700;
	letter-spacing: -0.06em;
  transition: var(--transition) .3s;
	min-width: 10rem;
	&:hover {
		background: var(--colorWhite);
		color: var(--colorBlack);
		border: var(--colorBlack) solid 1px;
	}
	&:active {
		transition: var(--transition) .1s;
		transform: translateY(.2rem);
	}
}
