.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden auto;
}

.innerWrapper {
  padding: 1rem 1rem 4rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12.5rem;

  @media (max-width: 800px) {
    gap: 8rem;
  }

  @media (max-width: 500px) {
    padding: .5rem .5rem 3rem .5rem;
  }
}