.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-top: var(--colorWhite) solid .25rem;
  padding-top: 2rem;
}

.leftPart {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  & * {
    font-family: var(--monoFont);
    text-transform: uppercase;
  }
}

.logo span {
  font-size: 3rem;
}

.logo div {
  height: 3rem;
}