.main {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: 5rem;
  gap: 2rem;
}

.accent {
  font-size: inherit;
  color: var(--colorYellow);
}

.firstText {
  grid-column: 1/6;
  grid-row: 1/3;
  line-height: 110%;
  font-size: 1.1rem;
  text-align: justify;
  text-indent: 4rem;
  border-bottom: var(--colorWhite) solid 1px;
}

.paint {
  grid-column: 6/12;
  grid-row: 1/7;
  position: relative;
}

.paintImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.smallPaint0 {
  grid-column: 1/5;
  grid-row: 3/6;
}

.smallPaint1 {
  grid-column: 8/12;
  grid-row: 8/11;
}

.paintBlockBottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  height: fit-content;
}

.square {
  width: 3rem;
  height: 3rem;
  //background: var(--colorWhite);
  border: var(--colorYellow) solid .25rem;
}

.paintTextBottom {
  font-size: .9rem;
  text-transform: lowercase;
  font-variant-caps: small-caps;
  font-family: var(--monoFont);
  position: absolute;
  right: 4rem;
  white-space: pre;
}

.paintTextFirst,
.paintText {
  font-size: .9rem;
  font-family: var(--ussrFont);
}

.paintTextFirst {
  position: absolute;
  right: 0;
  bottom: -1.25em;
}

.circle {
  grid-column: 4/9;
  grid-row: 5/8;
  aspect-ratio: 1/1;
  user-select: none;
  position: relative;
  z-index: 3;

  font-size: 4.75rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: var(--colorBlack);
  background: var(--colorYellow);
  border-radius: 50%;
  //border: var(--colorBlack) solid 3.5rem;
  box-shadow: 0 0 0 4rem var(--colorBlack);
}

.textBlock {
  grid-column: 1/8;
  grid-row: 9/11;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 4;
}

.textBlockFirst,
.textBlockSecond,
.textBlockThird {
  line-height: 110%;
}

.textBlockSecond,
.textBlockThird {
  position: relative;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.textBlockSecond:before,
.textBlockThird:before {
  content: '';
  position: absolute;
  left: 0;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  border: var(--colorWhite) solid 1px;
}

.textBlockFirst {
  font-size: 1.75rem;
  font-family: var(--ussrFont);
  text-transform: uppercase;
  //color: var(--colorRed);
  //text-shadow: .1em .1em var(--colorGray);
  margin-bottom: .5rem;
  border-top: var(--colorWhite) solid 1px;
  padding-top: .5rem;
}

.textBlockSecond, .textBlockSecond * {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.serif, .serif * {
  font-family: var(--serifFont);
  font-size: 1.25rem;
}

.italic {
  font-style: italic;
}

.textBlockThird {
  text-transform: uppercase;
  font-size: 1.25rem;
  //font-family: var(--monoFont);
}
