.rules {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  position: relative;
  min-width: 100%;
}

.rightBlock {
  margin-left: auto;
  margin-bottom: 2rem;
}

.topPart {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  flex-wrap: wrap;
}

.symbols {
  color: var(--colorRed);
  font-weight: 700;
  font-size: 5rem;
  margin-left: auto;

  @media (max-width: 700px) {
    font-size: 4rem;
  }
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  z-index: -1;
  @media (max-width: 920px) {
    align-items: center;
  }
}

.rulesPaint {
  max-height: 40rem;
  width: min(90%, 30rem);
  object-fit: cover;
  filter: saturate(1.2);
  border-radius: .5rem;
}

.townPaint {
  position: absolute;
  bottom: 50%;
  left: 30%;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  box-shadow: 0 0 0 4rem var(--colorBlack);
  filter: saturate(1.2);
}