@import '/styles/global/variables';

.intro {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.introBottom {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.circle {
  position: absolute;
  width: 3rem;
  aspect-ratio: 1/1;
  background: $white;
  border-radius: 50%;
  top: 1.5rem;
}

.divider {
  width: 100%;
  height: .25rem;
  background: $white;
}

.chineseText,
.russianText {
  font-size: 1.2rem;
  line-height: 105%;
  white-space: pre;
}

.chineseText {
  font-family: $chineseFont;
  letter-spacing: -0.03em;
  font-weight: 700;
}

.russianText {
  font-family: $molFont;
  letter-spacing: 0.1em;
}