// monochrome colors
$white: #ffffff;
$preWhite: #eeeeee;
$gray: #555555;
$charcoal: #222222;
$black: #000000;

// colors
$yellow: #ffbb00;
$brightYellow: #ffe200;

$red: #f80833;
$magenta: #db00ff;

$blue: #5555ff;
$cyan: #08f8f8;

$green: #44bb66;
$brightGreen: #8fff00;

// fonts
$sansSerifFont: 'Neue Machina', sans-serif;
$sansFont: 'Cormorant', serif;
$monoFont: 'JetBrains Mono', monospace;
$chineseFont: 'Noto Sans SC', sans-serif;
$chineseFont: sans-serif;
$molFont: 'Molot', sans-serif;
$USSRFont: 'USSR', sans-serif;

// transitions
$commonTransitionCubic: cubic-bezier(0.35, 0.35, 0.2, 1);
