$white: #fff;
$preWhite: #eee;
$gray: #777;
$preGray: #555;
$charcoal: #222;
$black: #000;

$sansFont: 'Neue Machina', sans-serif;
$monoFont: 'JetBrains Mono', monospace;

$commonTransition: .3s cubic-bezier(0.35, 0.35, 0.2, 1);