@import '/styles/global/variables';

.rules {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 6rem;
  gap: 10rem;
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
  position: relative;
  z-index: 4;
}

.nameOfSection {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  font-family: $monoFont;
  text-transform: uppercase;
  z-index: 2;
}

.row {
  display: flex;
  align-items: flex-end;
  gap: 4rem;
}

.chineseText {
  font-family: $chineseFont;
  font-size: 6rem;
  color: $red;
  font-weight: 700;
  white-space: pre;
}

.infoBlockRight {
  margin-left: auto;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomCircleImageWrapper {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  width: min(90%, 25rem);
  aspect-ratio: 1/1;
  overflow: hidden;
  outline: $black solid 5rem;
  margin-bottom: 18rem;
}

.bottomImageWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  aspect-ratio: 4/5;
  height: 65%;
  & * {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}