@import "/styles/global/variables";

.field {
  width: min(100%, 30rem);
  aspect-ratio: 1/1;
  background: $white;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: 15% repeat(7, 10%) 15%;
  grid-template-rows: 15% repeat(7, 10%) 15%;
  position: relative;

  justify-content: center;
  align-items: center;

  @media (orientation: landscape) {
    width: min-content;
    height: 85vh;
  }
}


.startCell {
  @extend %cell;
  grid-column: 1/2;
  grid-row: 9/10;
  background: repeating-linear-gradient(
                  -45deg,
                  transparent 0 .5rem,
                  black .5rem 1.2rem);
}
.prisonCell {
  @extend %cell;
  grid-column: 1/2;
  grid-row: 1/2;
}
.coinCell {
  @extend %cell;
  grid-column: 9/10;
  grid-row: 1/2;
}
.policeCell {
  @extend %cell;
  grid-column: 9/10;
  grid-row: 9/10;
}

.player {
  width: 3%;
  aspect-ratio: 1/1;
  background: $green;
  border-radius: 50%;
  position: absolute;

}

.fieldLine1 {
  @extend %fieldLine;
  @extend %fieldLineVertical;
  grid-column: 1/2;
  grid-row: 2/9;
}
.fieldLine2 {
  @extend %fieldLine;
  @extend %fieldLineHorizontal;
  grid-row: 1/2;
  grid-column: 2/9;
}
.fieldLine3 {
  @extend %fieldLine;
  @extend %fieldLineVertical;
  grid-column: 9/10;
  grid-row: 2/9;
}
.fieldLine4 {
  @extend %fieldLine;
  @extend %fieldLineHorizontal;
  grid-row: 9/10;
  grid-column: 2/9;
}
.cell {
  @extend %cell;
}