@import "/styles/global/variables";

.field {
  width: 100%;
  aspect-ratio: 1/1;
  background: $white;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: 15% repeat(7, 10%) 15%;
  grid-template-rows: 15% repeat(7, 10%) 15%;
  position: relative;

  justify-content: center;
  align-items: center;

  @media (orientation: landscape) {
    width: min-content;
    height: calc(100vh - 2rem);
  }
  @media (max-width: 850px) {
    width: 100%;
  }
}


.startCell {
  @extend %cell;
  grid-column: 1/2;
  grid-row: 9/10;
  background: repeating-linear-gradient(
                  -45deg,
                  transparent 0 .5rem,
                  black .5rem 1.2rem);
}
.prisonCell {
  @extend %cell;
  grid-column: 1/2;
  grid-row: 1/2;
}
.coinCell {
  @extend %cell;
  grid-column: 9/10;
  grid-row: 1/2;
}
.policeCell {
  @extend %cell;
  grid-column: 9/10;
  grid-row: 9/10;
}

.player {
  width: 3%;
  aspect-ratio: 1/1;
  background: $green;
  border-radius: 50%;
  position: absolute;

}

.fieldLine1 {
  @extend %fieldLine;
  @extend %fieldLineVertical;
  grid-column: 1/2;
  grid-row: 2/9;
  flex-direction: column-reverse;
}
.fieldLine2 {
  @extend %fieldLine;
  @extend %fieldLineHorizontal;
  grid-row: 1/2;
  grid-column: 2/9;
}
.fieldLine3 {
  @extend %fieldLine;
  @extend %fieldLineVertical;
  grid-column: 9/10;
  grid-row: 2/9;
}
.fieldLine4 {
  @extend %fieldLine;
  @extend %fieldLineHorizontal;
  grid-row: 9/10;
  grid-column: 2/9;
  flex-direction: row-reverse;
}
.cell {
  @extend %cell;
  justify-content: space-between;
}

%cellMainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.cellMain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cellMainContentVertical {
  @extend %cellMainContent;
  //transform: rotate(21deg);
  max-width: 65%;
}

.cellMainContentHorizontal {
  @extend %cellMainContent;
  transform: rotate(-90deg);
  width: 120%;
  max-width: 120%;
}

.cellImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.questionCell {
  font-size: 2rem;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellTop {
  min-width: 1rem;
  min-height: 100%;
  background: $black;
}