@import "/styles/global/variables";

.hamburger {
  width: min(80%, 20rem);
  height: min(80vh, 40rem);
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
  padding: 3rem 1rem 1rem;
  border-radius: .75rem;
  border: $black solid .05rem;
  pointer-events: all;
}

.themeButton {
  @extend %button;
}

.buttonRed {
  @extend %button;
  background: $red;
  display: flex;
  margin-top: auto;
  justify-content: center;
  &:hover {
    background: $red;
    color: $white;
  }
}