$default-font: NeueMachina, JetBrains Mono, sans-serif;

%column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
  @extend %column;
}
.wrapper * {
  font-family: $default-font;
}

.container {
  @extend %column;
  width: min(100%, 60rem);
  height: 100%;
  overflow-x: hidden;
}