.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoImage {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 105%;
  letter-spacing: -0.03em;
}

.divider {
  height: 1.7rem;
  width: 1px;
  background: #fff;
}

.logoText {
  font-size: 1.2rem;
  font-weight: 700;
  & * {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
  }
}

.textFirst {
  font-family: var(--sansSerifFont);
  font-size: .9rem;
}

.textSecond {
  font-family: var(--serifFont);
  font-size: 1rem;
  font-style: italic;
}