@font-face {
  font-family: 'NeueMachina';
  src: url("NeueMachina-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'NeueMachina';
  src: url("NeueMachina-Medium.woff2") format('woff2');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'NeueMachina';
  src: url("NeueMachina-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url("JetBrainsMono-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url("JetBrainsMono-Medium.woff2") format('woff2');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url("JetBrainsMono-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}