@import 'reset';
@import 'fonts';

::-webkit-scrollbar {
	width: 0.6rem;
	height: 0.6rem;
}

::-webkit-scrollbar-thumb {
	background: var(--colorWhite);
	border-radius: 5rem;
	border: var(--colorBlack) solid 0.2rem;
	&:hover {
		background: var(--colorMedium);
	}
}

::selection {
	background: var(--colorYellow);
	color: var(--colorBlack);
}

* {
	color: var(--colorWhite);
}

html {
	background: #0c0c0c;
}

body {
	--colorBlack: #0c0c0c;
	--colorBlackD: #0c0c0cdd;
	--colorBlackB: #0c0c0cbb;
	--colorBlack8: #0c0c0c88;
	--colorStroke: #181818;
	--colorStroke8: #18181888;
	--colorGray: #333;
	--colorMedium: #888;
	--colorPreWhite: #aaa;
	--colorWhite: #fff;

	--colorRed: #ee2838;
	--colorYellow: #fc2;
	--colorGreen: #4b6;
	--colorBlue: #55f;

	--sansSerifFont: Neue Machina, sans-serif;
	--serifFont: Cormorant Garamond, serif;
	--monoFont: JetBrains Mono, monospace;
	--molotFont: Molot, Neue Machina, sans-serif;
	--ussrFont: USSR, Neue Machina, sans-serif;

	--transition: cubic-bezier(0.55, 0.06, 0.24, 1);

	position: relative;
}
