@import 'reset';
@import 'fonts';

::-webkit-scrollbar {
	width: 0.6rem;
	height: 0.6rem;
}

::-webkit-scrollbar-thumb {
	background: var(--colorWhite);
	border-radius: 5rem;
	border: var(--colorBlack) solid .2rem;
}

::selection {
	background: var(--colorYellow);
	color: var(--colorBlack);
}

* {
	color: var(--colorWhite);
}

html {
	background: #000;
}

body {
	--colorBlack: #000;
	--colorBlackD: #000d;
	--colorStroke: #111;
	--colorGray: #333;
	--colorWhite: #fff;
	--colorYellow: #fb0;
	--colorRed: #f80833;

	--sansSerifFont: Neue Machina, sans-serif;
	--serifFont: Cormorant Garamond, serif;
	--monoFont: JetBrains Mono, monospace;
	--molotFont: Molot, Neue Machina, sans-serif;
	--ussrFont: USSR, Neue Machina, sans-serif;

	--transition: cubic-bezier(.55,.06,.24,1);
}
