@import '/styles/global/variables';

.questions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 0 3rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: .5rem;
  position: relative;
  z-index: 8;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(50%, 12rem);
  padding: .5rem 2rem;
  color: $white;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -0.06em;
  transition: .2s $commonTransitionCubic;
  border-radius: .25rem;
}